<html>
    <head>
        <link rel="stylesheet" href="css/styles.css">
    </head>
    <body>
        <% if (result) { %>
            <div>
            <h2><%= result.name %></h2>
            </div>

            <img src="<%= result.picture %>" alt="<%= result.name %>" width="300" height="300">

            <div>
            <li class="first"><b>Category:</b> <%= result.category %></li>
            <li><b>Type:</b> 
                <% if (result.type.length === 1) { %>
                    <%= result.type[0] %>
                <% } else { %>
                    <%= result.type[0] %> | <%= result.type[1] %>
                <% } %>
            </li>
            <li><b>Pokedex Number:</b> <%= result.dex_num %></li>
            <li><b>First Debuted In:</b> <%= result.debut %></li>
            <p><a href="/"> Return Home</a></p>
            </div>
        <% }
        else { %>
            <div>
            <h2>Pokemon not found</h2>
            <p><a href="/"> Return Home</a></p>
            </div>
        <% } %>
    </body>
</html>